@charset "utf-8";
html {
    font-size: 100px;
}

html, body, .swiper-container, .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*--music start--*/
.music {
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: .6rem;
    height: .6rem;
    background: url("../audioFile/music.svg") no-repeat;
    background-size: 100% 100%;
}

.music.move {
    -webkit-animation: musicMove 1s linear infinite both;
    animation: musicMove 1s linear infinite both;
}

.move .musicAudio {
    display: none;
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.swiper-slide {
    position: relative;
}

/*--page1 start--*/
.page1 {
    background: url("../img/sky.jpg") no-repeat;
    background-size: cover;
}

.page1 > img {
    position: absolute;
    opacity: 0;
}

.page1 > p:nth-child(1) {
    top: .5rem;
    left: 0rem;
    width:6.96rem;
    height: 2rem;
    color:white;
    font-size: 60px;
    text-indent: 0.8rem;
}

.page1 > p:nth-child(2) {
    top: 2.28rem;
    right: 2.65rem;
    width: 3.7rem;
    height: 6rem;
    color:white;
    font-size:50px;
    text-indent:0.2rem;
}

.page1 > img:nth-child(3) {
    bottom: 1.8rem;
    left: .5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.page1 > img:nth-child(4) {
    bottom: 0;
    left: -1.6rem;
    width: 7.86rem;
    height: 5.88rem;
}

/*--开始的时候每一页是存在ID的,我想实现的是只要给每页加上对应的ID,就让每一页里面的子元素开始运动--*/
#page1 > p:nth-child(1) {
    -webkit-animation: bounceInLeft 1s both;
    animation: bounceInLeft 1s both;
}

#page1 > p:nth-child(2) {
    -webkit-animation: bounceInRight 1s .3s both;
    animation: bounceInRight 1s .3s both;
}

#page1 > img:nth-child(3) {
    -webkit-animation: bounceInUp 1s .6s both;
    animation: bounceInUp 1s .6s both;
}

#page1 > img:nth-child(4) {
    -webkit-animation: bounceInUp 1s .9s both;
    animation: bounceInUp 1s .9s both;
}

/*--page2 start--*/
.page2 {
    background: url("../img/sky.jpg") no-repeat;
    background-size: cover;
}

.page2 > img,p{
    position: absolute;
    opacity: 0;
}

.page2 > p:nth-child(1) {
    top: 1rem;
    left: 1rem;
    width: 4.4rem;
    height: 1.74rem;
    color:white;
    font-size: 25px;
}
.page2 > p:nth-of-type(2){
    top: 2.7rem;
    left: 2.5rem;
    width: 4.4rem;
    height: 1.74rem;
    color:white;
    font-size: 16px;
}

#page2 > p:nth-of-type(2){
    -webkit-animation: zoomIn 1s .3s both;
    animation: zoomIn 1s .3s both;
}
.page2 > p:nth-of-type(3){
    top: 4.8rem;
    left: 2.5rem;
    width: 4.4rem;
    height: 1.74rem;
    color:white;
    font-size: 16px;
}

#page2 > p:nth-of-type(3){
    -webkit-animation: zoomIn 1s .3s both;
    animation: zoomIn 1s .6s both;
}

.page2 > p:nth-of-type(4){
    top: 6.8rem;
    left: 2.5rem;
    width: 4.4rem;
    height: 1.74rem;
    color:white;
    font-size: 16px;
}

#page2 > p:nth-of-type(4){
    -webkit-animation: zoomIn 1s .3s both;
    animation: zoomIn 1s .9s both;
}

.page2 > p:nth-of-type(5){
    top: 8.8rem;
    left: 2.5rem;
    width: 4.4rem;
    height: 1.74rem;
    color:white;
    font-size: 16px;
}

#page2 > p:nth-of-type(5){
    -webkit-animation: zoomIn 1s .3s both;
    animation: zoomIn 1s .12s both;
}


.page2 > img:not(:first-child) {
    /*top: 2rem;*/
    width: 1.2rem;
    height: 1.2rem;
}

.page2 > img:nth-child(2) {
    left: .8rem;
    top: 2rem;
}

.page2 > img:nth-child(3) {
    left: .8rem;
    top: 4rem
}

.page2 > img:nth-child(4) {
    left: .8rem;
    top: 6rem;
}

.page2 > img:nth-child(5) {
    left: .8rem;
    top: 8rem;
}
#page2 > p:nth-child(1) {
    -webkit-animation: bounceInLeft 1s both;
    animation: bounceInLeft 1s both;
}

#page2 > img:nth-child(2) {
    -webkit-animation: zoomIn 1s .3s both;
    animation: zoomIn 1s .3s both;
}

#page2 > img:nth-child(3) {
    -webkit-animation: zoomIn 1s .6s both;
    animation: zoomIn 1s .6s both;
}

#page2 > img:nth-child(4) {
    -webkit-animation: zoomIn 1s .9s both;
    animation: zoomIn 1s .9s both;
}

#page2 > img:nth-child(5) {
    -webkit-animation: zoomIn 1s .9s both;
    animation: zoomIn 1s .12s both;
}

.page3 {
    background: url("../img/sky.jpg") no-repeat;
    background-size: cover;
}

.page3 > p {
    position: absolute;
    opacity: 0;
}

.page3 > p:nth-child(1) {
    top: 1rem;
    left: 1rem;
    width: 4.4rem;
    height: 1.74rem;
    color:white;
    font-size: 25px;
}
#page3 > p:nth-child(1) {
    -webkit-animation: bounceInLeft 1s both;
    animation: bounceInLeft 1s both;
}

.page3 > p:nth-child(2){
    top: 3rem;
    left: 1rem;
    width: 4.4rem;
    height: 1.74rem;
    color:white;
    font-size: 16px;
}

#page3 > p:nth-child(2){
    -webkit-animation: zoomIn 1s .3s both;
    animation: zoomIn 1s .3s both;
}

.page3 > p:nth-child(3){
    top: 4rem;
    left: 1rem;
    width: 5.3rem;
    height: 1.74rem;
    color:white;
    font-size: 16px;
}

#page3 > p:nth-child(3){
    -webkit-animation: zoomIn 1s .3s both;
    animation: zoomIn 1s .6s both;
}

.page3 > p:nth-child(4){
    top: 5rem;
    left: 1rem;
    width: 4.4rem;
    height: 1.74rem;
    color:white;
    font-size: 16px;
}

#page3 > p:nth-child(4){
    -webkit-animation: zoomIn 1s .3s both;
    animation: zoomIn 1s .9s both;
}

.page3 > p:nth-child(5){
    top: 6rem;
    left: 1rem;
    width: 4.4rem;
    height: 1.74rem;
    color:white;
    font-size: 16px;
}

#page3 > p:nth-child(5){
    -webkit-animation: zoomIn 1s .3s both;
    animation: zoomIn 1s .12s both;
}






/*--以下是CSS3动画--*/
@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}


.page4 {
    background: url("../img/sky.jpg") no-repeat;
    background-size: cover;
}

.page4 > p {
    position: absolute;
    opacity: 1;
}

.page4 > p:nth-child(1){
     top: 1rem;
     left:.6rem;
     font-size: 50px;
     color:white;
}
.page4 > p:nth-child(2){
     top: 3rem;
     left:.6rem;
     font-size: 18px;
     color:white;
}
.page4 > p:nth-child(3){
     top: 3.8rem;
     left:.6rem;
     font-size: 12px;
     color:white;
}

.page4 > p:nth-child(4){
     top: 4.5rem;
     left:.6rem;
     font-size: 18px;
     color:white;
}
.page4 > p:nth-child(5){
     top: 5.3rem;
     left:.6rem;
     font-size: 12px;
     color:white;
}

.page4 > p:nth-child(6){
     top: 7rem;
     left:1.3rem;
     font-size: 18px;
     color:white;
}
.page5{
    background: url("../img/sky.jpg") no-repeat;
    background-size: cover;
}

.page5 > img {
    position: absolute;
    opacity: 1;
}
.page5 > img:nth-of-type(1){
  top: 1rem;
  left: 1.5rem;
  width: 3rem;
}
.page5 p{
  opacity: 1;
  color:white;
}
.page5 > p:nth-of-type(2){
  top: 6rem;
  left: 1rem;
  width: 6rem;
  font-size: 16px;
}
.page5 > p:nth-of-type(3){
  top: 7rem;
  left: 1rem;
  width: 3rem;
  font-size: 16px;
}
/*
.page5 > p:nth-of-type(4){
  top: 4rem;
  left: 1.5rem;
  width: 3rem;
  font-size: 13px;
}*/
